*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
bodyH{
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKus5tI9j935HeL1MQ2WOSmAn7Zo5aOLFH2A&s);
}
bodyL{
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbk7bj3SMmjxyHIMW8Wq3XOw86dX7l2u5lJQ&s);
}
body{
    background:url('http://wallpapercave.com/wp/GUAaScC.jpg');
    color: whitesmoke;
}
.navbar{
    display: inline-flex;
    width: 100%;
    height: 50px;
    background: #b22222;
}
.navbar .list{
    margin-top: 15px;
    
}
.navbar .list a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    width: 30px;
} 
.navbar a:hover{
    color:blue;
    text-decoration: none;
}
.main{
    margin-left: 40%;
    margin-top: 1.5%;
}
.main h1{
    color:  #b22222;
    padding: 20px;
}
.main input,select{
    outline: none;
    padding: 2px;
    height: 25px;
    width: 300px;
}
.main1 input{
    width: 60px;
}
.main button{
    color: white;
    background: #b22222;
    width: 100px;
    height: 25px;
    cursor: pointer;
    border :none;
    outline: none;
    font-size: 20px;
}
.main a{
    text-decoration: none;
}
.footer{
    position: relative;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    display: inline-flex;
    width: 100%;
    height: 40px;
    background: #b22222;
    margin-top: 50px;
}
.footer h3{
    color: white;
    align-content: center;
    margin-left: 470px;
    font-size: small;
}
.sec1 h1,p{
    color: azure;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: cursive;
}

